body {
    background-image: url(crowd-people-walking-train.avif);
    background-size: cover ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background: white;
    max-width: 80%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    
    
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    display: block;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(239, 245, 239);
    font-weight: bold;
    width: 200px;
}

.buttons {
    display: grid;
    place-items: center;
    height: 10vh;
}

.whitebtn {
    margin-bottom: 3px;
    background: rgb(158, 48, 221);

}

.greenbtn {
        background: green;
}

#save-el {
    font-weight: bold;
}